// Home Bottom Nav Bar (home-nav.php)
// ------------------------------

.home-nav {
  background: url(#{$stylesheet-img}/arch-pattern.png) $color-prim;
  position: absolute;
  width: 100%;
  z-index: 10;
  & a.link{
    // padding: 15px 10px;
    position: relative;
    display: inline-block;
    margin: 20px 25px;
    &:after{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      content: '';
      opacity: 0;
      -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    &:hover,
    &.hover {
      color: $white;
      
      &:after{
        height: 2px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
    & h5 {
      text-align: center;
      font-weight: 100;
      @include transition(.5s ease);

      &:hover,
      &.hover {
        color: $white;
      }
    }
  }
  &.fixed.top {
    position: fixed;
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  // the logo
  & .navbar-brand {
  float: none;
  display: block;
  margin: 8px 0px;
    &>img {
      width: 230px;
      display: inline-block;
    }
  }
}

.home-nav.fixed.top:after,
.section-divider-container:after,
.article-carousel-container:after {
  background-image: url(#{$stylesheet-img}/black-edge-bottom-light.png);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-size: auto 100%;
  background-repeat: repeat;
  left: 0;
  z-index: 5;
}

.home-nav.bottom:before,
.footer-bottom:before,
.section-divider-container:before {
  margin-top: -5px;
  background-image: url(#{$stylesheet-img}/black-edge-top.png);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-size: auto 100%;
  background-repeat: repeat;
  left: 0;
  z-index: 5;
}

// Mobile Nav Bar (home-nav.php)
// ------------------------------

.nav-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: $color-prim;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  @include transition(.5s ease);
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  & a{
    padding: 8px;
    font-size: 36px;
    color: $color-sec;
    text-decoration: none;
    display: block;
    /* Display block instead of inline */
    font-family: $stack-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include transition(.5s ease);

    &:hover,
    &:focus{
      color: $white;
    }
  }
  /* Position the close button (top right corner) */
  & .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}
/* Position the content inside the overlay */
.nav-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}
/* When the height of the screen is less than 450 pixels, 
change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .nav-overlay{
    & a{
      font-size: 20px
    }
    & .closebtn{
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
