//  Main Text 
// ------------------------------
p {
  font-family: $stack-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $stack-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
h2,
h3,
h4,
h5,
h6 {
  color: $color-sec;

  &.entry-title{
    font-weight: 400;
  }
}
h1{
  & span{
    color: $color-sec;    
  }
  &.entry-title{
    background: $color-sec;
    color: $white;
    display: inline-block;
    padding: 30px 20px 30px 20px;
    margin: -50px 0px 0px;
    font-weight: 600;
    letter-spacing: 3px;
  }

}
a {
  color: $color-sec;
  @include transition(.5s ease-out);
  &:hover {
    text-decoration: none;
  }
}
//  Text Align
// ------------------------------
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
// Borders & seperators
// ------------------------------
.border-top-line {
  border-top: 3px solid $color-sec;
}
.border-bottom-line {
  border-bottom: 3px solid $color-sec;
}
.section-divider {
  text-align: center;
  background: url('#{$stylesheet-img}/arch-pattern.png') $color-prim;
  background-attachment: fixed;
  color: $white;
  padding: 100px 0px;
}
.home #page {
  margin-top: 0;
}
#page {
  margin-top: 100px;
}
// admin only
.post-edit-link {
  background: yellow;
  padding: 5px 5px;
}

//  Article
// ------------------------------
.page .feature-image-container{
  height: 350px;
  margin-top: -20px;
}
.feature-image-container {
  overflow: hidden;
  background-position: center center;
  @include background-size(cover);

  &.post-grid{
  }
}
img.wp-post-image {
  width: 100%
}
.single .post img.wp-post-image {
  padding: 15px 0px 30px;
}
.blog .grid article,
.category .grid article{
  margin-bottom: 0;
}
.blog article,
.category article {
  background: $white;
  margin-bottom: 30px;
  border: 1px solid rgba(131, 133, 134, 0.08);
  
  & .article-text{
    padding: 20px;
  
    & p{
      @include font-size(14px);
      // font-size: 14px;
    }
    & .post-categories{
      list-style: none;
      padding-left: 3px;
      display: inline-block;
      margin-bottom: 10px;
    }
    & .post-categories,
    & .fa,
    & .read-more-link{
      @include font-size(11px);
      color: $color-ter;
      @include opacity(.5);
      letter-spacing: .5px;

      & a {
        color: $color-ter;
      }
    }
  }

}
.navigation.posts-navigation,
.navigation.post-navigation {
  text-align: center;
  padding: 80px;
  background: $white;
  border: 1px solid #e3e2e1;
}
// article masonary grid ('index.pphp & content.php')
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
  @include media-breakpoint-down(md) {
    width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.grid-item {
  float: left;
  padding: 5px;
  & article{
    display: block;
    max-width: 100%;
  }
}
.category-list{
  padding: 1rem 2rem;
  margin: 15px 5px;
}
.cat-item-all,
.cat-item{
  background-color: $color-sec;
  display: inline-block;
  margin: 2px;

  a{
    @include font-size(15px);
    color: $white;
    padding: 10px 15px;
    display: block;
  }
}

//  Contact
// ------------------------------
#map {
  width: 100%;
  height: 350px;
}