// Descriptive color variables
$white:                       #fff;
$black:                       #000;
$gray:                        #878787;
$dark-gray:                   #1a1a1a;
$mineshaft:                   #272727;
$gold:                        #97722E;

// Functional Color Variables
$color-prim:                  $dark-gray;
$color-sec:                   $gold;
$color-ter:                   $mineshaft;

// Font Stacks
$stack-sans-serif:;
$stack-serif:                 'Roboto Slab',serif;


// Asset paths
$stylesheet-img:              '../images';


// Media Query Breakpoints
$brk-md:                      '(min-width:768px)';