
// Descriptive color variables

$white				:#fff;
$black				:#000;
$gray				:#878787;

$wildsand			:#f4f4f4;
$mercury			:#e4e4e4;
$lightgray			:#f7f7f7;
$mineshaft			:#272727;
$coralred			:#FF4240;

// Functional Color Variables

$color-prim			:$wildsand;
$color-sec			:$coralred;
$color-ter			:$mineshaft;

$color-text-base	:$wildsand;
$color-text-dark	:$mineshaft;
$color-text-sec		:$coralred;

$mute				:rgba($color-text-base,.7);

// Font Stacks

$stack-sans-serif	:;
$stack-serif		:'Roboto Slab', serif;

// Asset paths

$stylesheet-img			:'../images';

// Media Query Breakpoints

$brk-md				:'(min-width:768px)';




/*
*
*
*
*
Global Variables
*
*
*
*/
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
h2,
h3,
h4,
h5,
h6{
    color:#97722e;
}
p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}
h2.entry-title{
    font-weight: 400;
}
h1 span{
    color:#97722e;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.border-top-line{
    border-top: 3px solid #97722e;
}
.border-bottom-line{
  border-bottom: 3px solid #97722e;
}
a{
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    color: #97722e;
}
a:hover{
    text-decoration: none;
}
.section-divider{
    text-align: center;
    background: url('#{$stylesheet-img}/arch-pattern.png') #1a1a1a;
    background-attachment: fixed;    
    color: #fff;
    padding: 100px 0px;
}
.home #page{
    margin-top: 0;
}
#page{
    margin-top:60px;
}
.post-edit-link{
    background: yellow;
    padding: 5PX 5PX;
}

.btn{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff !important;
}
.btn.btn-primary{
    background-color: #97722e;
    border-color: #97722e;
}
.btn.btn-primary:hover{
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
.btn.btn-secondary{
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
.btn.btn-sm{
    font-size: 10px;
    padding:10px 30px;
}
.wpcf7 input,
.wpcf7 label,
.wpcf7 textarea {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-width: 1px;
    border-color: #97722e;
}
.wpcf7 input,
.wpcf7 textarea {
    line-height: 28px;
    padding: 10px;
}
/*
*
*
*
*
Home Bottom Nav Bar (home-nav.php)
*
*
*
*/
.home-nav{
    background: url(#{$stylesheet-img}/arch-pattern.png) #1a1a1a;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.home-nav.fixed.top{
    position: fixed;
    top: 0;
}
.home-nav.fixed.top:after,
.section-divider-container:after,
.article-carousel-container:after{
    background-image: url(#{$stylesheet-img}/black-edge-bottom-light.png);
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-size: auto 100%;
    background-repeat: repeat;
    left: 0;
    z-index: 5;
/*    bottom:-5px; */
}
.home-nav.bottom{
    bottom: 0;
}
.home-nav.bottom:before,
.footer-bottom:before,
.section-divider-container:before{
    margin-top: -5px;
    background-image: url(#{$stylesheet-img}/black-edge-top.png);
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-size: auto 100%;
    background-repeat: repeat;
    left: 0;
    z-index: 5;
}
.home-nav a{
    color: #fff;
    padding: 15px 10px;
}
.home-nav .navbar-brand>img{
    width: 230px;
    display: inline-block;
}
.home-nav .navbar-brand{
    float: none;
    display: block;
}
.home-nav a h4{
    text-align: center;
    font-weight: 100;
}
.home-nav a:hover{
    color:#97722e;
}
/*
*
*
*
*
owl carousel (sidebar-hero.php)
*
*
*
*/
.fadeOut.owl-carousel .item {
    height: 100vh;
    padding: 1rem;
    width: 100%;
}
.owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem
}
.owl-carousel .overlay {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.owl-carousel .overlay .overlay-inner {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto
}

.owl-carousel .overlay .overlay-inner span {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-shadow: 0 0 10px black
}

.owl-carousel .overlay .overlay-inner span h1, .owl-carousel .overlay .overlay-inner span h2 {
    padding: 0 10px
}

.owl-carousel .overlay .overlay-inner span h1 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-bottom: 10px;
    color: #fff;
}

.owl-carousel .overlay .overlay-inner span h2 {
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.2em;
    color: #fff;
}

.owl-carousel .overlay .overlay-inner span a {
    color: white
}

.owl-carousel .overlay .overlay-inner span a:hover {
    color: #e5e5e5
}
/*article carousel*/
.article-carousel-wrapper{
    background: #272727;
    padding: 20px 0px 20px;
}
.article-carousel.owl-carousel{  
    height: 100%;    
    padding: 1rem 0;
}
.article-carousel.owl-carousel .item h5 {
    color: #FFF;
    font-weight: 300;
    margin-top: 0rem;
    letter-spacing:1px;
}
.article-carousel.owl-carousel .owl-nav{
    position: absolute;
    width: 100%;
    bottom: 42%;
}
.article-carousel.owl-carousel .owl-next,
.article-carousel.owl-carousel .owl-prev{
    display: inline-block;
    background: white;
    padding: 5px 10px;
    text-transform: uppercase;
}
.article-carousel.owl-carousel .owl-next{
    float: right;
}
.article-carousel.owl-carousel .owl-stage-outer,
.article-carousel.owl-carousel .owl-stage,
.article-carousel.owl-carousel .owl-item{
    height: 100%;
}
.article-carousel.owl-carousel .item{
   height: 100%
}
/*article*/
img.wp-post-image{
    width: 100%
}
.single .post img.wp-post-image{
    padding: 15px 0px 30px;
}
.blog article{
    background: #fff;
    margin-bottom: 30px;
    border:1px solid rgba(131, 133, 134, 0.08);
}

.blog article .article-text{
    padding: 20px;
}
.navigation.posts-navigation,
.navigation.post-navigation{
    text-align: center;
    padding: 80px;
    background: #fff;
    border: 1px solid #e3e2e1;
}
/*contact*/
#map{
    width: 100%;
    height: 350px;
}
/*footer*/
.wrapper#wrapper-footer{
    padding: 60px 0px;
}
.footer-bottom{
    background: url('#{$stylesheet-img}/arch-pattern.png') #1a1a1a;
    background-attachment: fixed;    
}
.footer-bottom a, .footer-bottom p{
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=80);
    opacity: 0.8; 
    margin-bottom: 0.8rem  
}
.footer-header{
    color: #97722e;
}
.site-info{
    background: #151515;
    padding: 10px 0px 1px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.feature-image-container{
    height: 400px;
    overflow: hidden;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1.entry-title{
    background: #97722e;
    color: #fff;
    display: inline-block;
    padding: 30px 20px 30px 20px;
    margin: -50px 0px 0px;
    font-weight: 600;
    letter-spacing: 3px;
}
.fa-circle.fa-stack-1x, 
.fa-circle.fa-stack-2x{
    color: #000;
}
.fa{
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    cursor:pointer;
}
.fa:hover, 
.fa:hover{
    color: #97722e;
}

.fa.fa-bars{
    font-size: 40px;
    color: #97722e;
    padding: 15px 0px;
}
.fa.fa-bars:hover{
    color: #fff;
}
/* The Overlay (background) */
.nav-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #1a1a1a; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.nav-overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.nav-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #97722e;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

/* When you mouse over the navigation links, change their color */
.nav-overlay a:hover, .nav-overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.nav-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .nav-overlay a {font-size: 20px}
    .nav-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
